html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(45px + 1vw);
}

.btn:hover,
.back__btn:hover {
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
  background-color: #d904279e;
}

.btn,
.back__btn {
  transition: all 0.3s ease-in-out;
}

.format {
  transform: translate(100%);
  transition: all 0.7s ease-in-out;
}

.albums__release:hover > .format {
  /* backdrop-filter: blur(5px); */
  transform: translate(0%);
  transition: all 0.7s ease-in-out;
}

.trans-5 {
  transition: all 0.5s ease-in-out;
}
