html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(44px + 1vw);
}

.btn:hover,
.back__btn:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
  background-color: #d904279e;
}

.btn,
.back__btn {
  transition: all 0.3s ease-in-out;
}

.back-release {
  transform: translateY(-30px);
  transition: transform 0.3s;
}

.albums__release:hover > .back-release {
  transform: translate(0px);
  transition: transform 0.3s;
}

.btn-show-preview:hover {
  background-color: var(--bg-btn);
}

.trans-5 {
  transition: all 0.5s ease-in-out;
}

.show-menu {
  /* display: flex; */
  transform: translateY(0%);
  transition: all 0.5s ease-in-out;
}

.show-feedback-info,
.show-feedback-check,
.show-feedback-xmark {
  color: var(--bg);
  background-color: var(--bg-btn);
  transform: translate(-50%, 0%);
  transition: all 0.5s ease-in-out;
}

.show-feedback-info {
  background-color: var(--orange);
}

.show-feedback-check {
  background-color: var(--success);
}

.fas.modal-icon {
  font-size: 1.5rem;
  color: var(--bg);
}


.active {
  color: var(--fg1);
  background-color: var(--bg-btn);
}

.visible {
  opacity: 1;
  display: flex;
}

.visible2 {
  visibility: visible;
  opacity: 1;
}

.hidden2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.hidden {
  display: none;
}

.fixed {
  overflow: hidden;
}

.cart-btns .btn-disabled:hover,
.cart-btns .btn-disabled {
  transition: none;
  color: var(--fg2);
  background-color: var(--bg2);
  transform: none;
  cursor: not-allowed;
  border: none;
}

.show-qty {
  cursor: pointer;
  display: flex;
  color: var(--bg-btn);
  background-color: var(--bg-bubble);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease-in-out;
}

.show-qty:active {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px inset, rgba(0, 0, 0, 0.23) 0px 3px 4px inset;
}
