@media (max-width: 992px) {
    .container__hero {
      flex-direction: column;
      max-height: unset;
      height: unset;
    }

    .hero__img {
      min-height: 250px;
    }

    .hero__text {
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }

    .hero__facts {
      width: unset;
      text-align: left;
    }
}  
@media (max-width: 576px) {
  .navbar__label {
    display: flex;
    color:var(--fg3);
    cursor: pointer;
    color: beige;
  }

  .navbar {
    order: 1;
    width: unset;
  }

  .brand {
    display: none;
  }

  .logo {
    order: 2;
    height: 45%;
  }

  .user__label {
    order: 3;
  }

  .header__user {
    display: none;
  }

  #menu-toggle:checked + .menu {
    display: flex;
  }

  .menu,
  .header__user {
    align-items: center;
    box-shadow: 0px 40px 30px -30px var(--bg_p);
    background: rgba(24, 7, 7, 0.548); 
    border-radius: 0px 0px 10px 10px;
    display: none;
    flex-direction: column;
    gap: 25px;
    left: 5%;
    opacity: 0.96;
    padding: 1.5rem;
    position: absolute;
    right: 5%;
    top: calc(50px + 1vw);
    width: 90%;
    z-index: 5;
    backdrop-filter: blur(20px);
  }

  .user__label {
    display: flex;
  }

  #user-toggle:checked + .header__user {
    display: flex;
  }

  /* .header__user {
    align-items: center;
    box-shadow: 0px 40px 30px -30px var(--bg_p);
    background: rgba(24, 7, 7, 0.548); 
    border-radius: 0px 0px 10px 10px;
    display: none;
    flex-direction: column;
    gap: 25px;
    left: 5%;
    opacity: 0.96;
    padding: 1.5rem;
    position: absolute;
    right: 5%;
    top: calc(50px + 1vw);
    width: 90%;
    z-index: 5;
    backdrop-filter: blur(20px);
  } */
}
