@media (max-width: 992px) {
  .container__hero {
    flex-direction: column;
    max-height: unset;
    height: unset;
  }

  .hero__img {
    width: 85%;
    max-width: 430px;
    min-height: calc(150px + 13vw);
    align-self: unset;
  }

  .hero__text {
    padding: 15px 0;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .hero__facts {
    width: unset;
    text-align: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3vw;
  }

  .container__contact {
    flex-direction: column;
  }

  .contact__form {
    width: 100%;
  }

  .separator {
    width: 230px;
    height: unset;
    /* border: 1px solid var(--fg1); */
  }

  .contact__data {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .login {
    flex-direction: column;
    width: 70%;
  }

  .navbar__label {
    display: flex;
    width: 65px;
  }

  .navbar {
    order: 1;
    width: unset;
    justify-content: unset;
  }

  .brand {
    display: none;
  }

  .isotipo {
    order: 2;
    justify-content: center;
    width: unset;
  }

  .cart-label {
    order: 3;
  }

  .menu {
    align-items: center;
    background: var(--bg-menu);
    border-radius: 0px 0px 10px 10px;
    flex-direction: column;
    left: 5%;
    opacity: 0.96;
    position: absolute;
    right: 5%;
    top: calc(45px + 1vw);
    width: 90%;
    z-index: -2;
    backdrop-filter: blur(20px);
    transform: translateY(-150%);
    box-shadow: rgba(0, 0, 0, 0.355) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.461) 0px 8px 16px -8px;
  }

  .menu__item {
    padding: 15px 0;
  }

  .login-user,
  .user {
    /* display: none; */
    height: 100%;
    width: 100%;
    padding: 15px 0px;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    background-color: #485f8b71;
    border-radius: 0 0 10px 10px;
  }

  .login-user {
    gap: 5px;
    font-size: 1.2rem;
    display: flex;
  }
  
  .login-user .btn {
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 5px;
  }
  
  .login-user .fa-user-check {
    color: greenyellow;
  }

}

@media (max-width: 576px) {
  .hero__text {
    width: 98%;
  }

  .facts__count {
    font-size: 2.5rem;
  }

  .facts__text {
    font-size: 0.8rem;
  }

  .container__features {
    gap: 45px;
  }

  .footer {
    padding: 0 1%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .footer__company {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer__network {
    width: 70%;
    align-items: center;
  }

  .login {
    justify-content: center;
    width: 90%;
  }

  .cart {
    max-width: unset;
    width: 100vw;
  }
}
