@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);
:root {
  --bg: #2B2D42;
  --bg2: #8D99AE;
  --fg1: #EDF2F4;
  --fg2: #1d1d1f;
  --red: #EF233C;
  --bg-btn: #D90429;
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  /* text-decoration: none; */
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(45px + 1vw);
  padding: 0 5%;
  background-color: var(--bg);
}

.logo {
  height: 60%;
}

.navbar {
  align-items: center;
  display: flex;
  width: 50%;
  gap: 40px;
  justify-content: flex-end;
}

#menu-toggle,
.navbar__label {
  color: var(--fg1);
  display: none;
}

.menu {
  color: var(--fg1);
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 10%;
}

.menu__link {
  font-weight: 300;
}

.link--home {
  font-weight: 600;
}

#user-toggle,
.user__label {
  color: var(--fg1);
  display: none;
}

.btn {
  font-weight: 600;
  color: var(--fg1);
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-btn);
}

.header__user {
  color: var(--fg1);
  display: flex;
  width: 25%;
  min-width: 200px;
  justify-content: space-evenly;
  align-items: center;
}

/* .btn:hover {
  scale: 1.5;
} */

/* .header__login .fa-user {
  display: none;
} */


/* .cart {
  font-size: 0.9rem;
  color: beige;
} */

/* Main main */

.main {
  /* height: 100vh; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--fg1);
}

container {
  max-width: 1200px;
}

/* Section Hero */

.hero {
  width: 100%;
  /* height: calc(100vh - (45px + 1vw)); */
  padding: 5%;
  background-color: var(--bg2);
  /* background: url(../assets/img/headphone.jpg) no-repeat center/cover; */
  /* background: url(../assets/img/back.jpg) no-repeat right/cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  /* width: 80%; */
  background-color: rgba(0, 0, 0, 0.312);
  border-radius: 20px;
  padding: 40px;
  max-width: 1200px;
  backdrop-filter: blur(10px);
}

.hero__text h1 {
  color: var(--fg1);
  font-size: calc(1rem + 2vw);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.hero__text h2 {
  font-size: calc(0.5rem + 1.5vw);
  color: var(--fg1);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.shorts {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(20vh);
  gap: 30px;
  padding: 20px;
}

.shorts__link {
  background-color: #fa243c;
  height: 15vh;
  width: 300px;
}

/* Cards albums */

.albums {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.albums__release {
  background: url(../assets/img/twennies_dragonette.jpg) no-repeat center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 24px 35px -15px #151A4169;
}

.release__img {
  border: 1px solid var(--bg);
  background: url(../assets/img/twennies_dragonette.jpg) no-repeat center/cover;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.format {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 50px;
  padding: 5px;
  background-color: #1d1d1f9c;
  backdrop-filter: blur(10px);
  border-radius: 10px 0 0 10px;
}

.format .format-img {
  width: 80%;
}

.release__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  height: 20%;
  width: 100%;
  bottom: 0;
  backdrop-filter: blur(8px);
  background-color: #2b2d42ab;
}

.release__data {
  height: 100%;
  color: var(--fg1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.release__data .album-name {
  font-size: 1.1rem;
  font-family: 'Montserrat';
  font-weight: 500;
}
.release__data .artist {
  font-size: 0.7rem;
  font-family: 'Montserrat';
  font-weight: 300;
}
.release__data .date {
  font-size: 0.5rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

.release__price {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.release__price .price {
  font-size: 1rem;
  color: var(--fg1);
  font-family: 'Montserrat';
  font-weight: 600;

}

.btn--buy {
  font-size: 0.7rem;
}
