@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);
:root {
  --bg: #333;
  --fg1: #d6d6d6;
  --fg2: #1d1d1f;
  --bg-btn: #fa243c;
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(45px + 1vw);
  padding: 0 5%;
  background-color: var(--bg);
}

.logo {
  height: 60%;
}

.navbar {
  align-items: center;
  display: flex;
  width: 50%;
  gap: 40px;
  justify-content: flex-end;
}

#menu-toggle,
.navbar__label {
  color: var(--fg1);
  display: none;
}

.menu {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 10%;
}

.menu__link {
  color: var(--fg1);
  /* font-size: 1.2rem; */
  font-weight: 300;
}

.link--home {
  font-weight: 600;
}

.btn {
  font-weight: 500;
  color: var(--fg1);
  border: none;
  padding: 3px 8px;
  border-radius: 15px;
  /* cursor: pointer; */
  background-color: var(--bg-btn);
}

/* .btn:hover {
  scale: 1.5;
} */

.header__login .fa-user {
  display: none;
}


/* .cart {
  font-size: 0.9rem;
  color: beige;
} */

.main {
  /* height: 100vh; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--fg1);
}

.hero {
  width: 100%;
  /* max-width: 1200px; */
  height: calc(100vh - (45px + 1vw));
  padding: 5%;
  /* background: url(../assets/img/headphone.jpg) no-repeat center/cover; */
  background: url(../assets/img/back.jpg) no-repeat right/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  /* width: 80%; */
  background-color: rgba(0, 0, 0, 0.312);
  border-radius: 20px;
  padding: 40px;
  max-width: 1200px;
  backdrop-filter: blur(10px);
}

.hero__text h1 {
  color: var(--fg1);
  font-size: calc(1rem + 2vw);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.hero__text h2 {
  font-size: calc(0.5rem + 1.5vw);
  color: var(--fg1);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.shorts {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(20vh);
  gap: 30px;
  padding: 20px;
}

.shorts__link {
  background-color: #fa243c;
  height: 15vh;
  width: 300px;
}

.albums {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.albums__release {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 430px;
  border-radius: 15px;
  box-shadow: 0px 24px 35px -15px #151A4140;
}

.release__img {
  /* border: 1px solid var(--bg); */
  background: url(../assets/img/twennies_dragonette.jpg) no-repeat center/cover;
  height: 80%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.format {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 50px;
  padding: 5px;
  background-color: #1d1d1f9c;
  backdrop-filter: blur(10px);
  border-radius: 10px 0 0 10px;
}

.format .format-img {
  width: 80%;
}

.release__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 20%;
  width: 100%;
  background-color: var(--bg);
}

.release__data {
  height: 100%;
  color: var(--fg1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.release__data .album-name {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 500;
}
.release__data .artist {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-weight: 300;
}
.release__data .date {
  font-size: .5rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

.release__price {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.release__price .price {
  font-size: 1.3rem;
  color: var(--fg1);
  font-family: 'Montserrat';
  font-weight: 600;

}
