@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);
:root {
  --bg: #2B2D42;
  --bg2: #8D99AE;
  --fg1: #EDF2F4;
  --fg2: #1d1d1f;
  --red: #EF233C;
  --bg-btn: #D90429;
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 300; */
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  /* text-decoration: none; */
}

.header__login:hover,
.menu__link:hover {
  color: var(--bg-btn);
  border-left: none;
  border-right: none;
}

.header {
  position: fixed;
  top: 0;
  z-index: 6;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(45px + 1vw);
  padding: 0 9%;
}

.header::before {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  content: '';
  width: 100%;
  height: calc(45px + 1vw);
  backdrop-filter: blur(7px);
  background-color: #2b2d42f0;


}

.isotipo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 25%;
  gap: 5%;
}

.brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--fg1);
  font-size: 2rem;
}

.logo {
  height: 60%;
}

.navbar {
  align-items: center;
  display: flex;
  width: 50%;
  gap: 40px;
  justify-content: flex-end;
}

#menu-toggle,
.navbar__label {
  color: var(--fg1);
  display: none;
}

.menu {
  color: var(--fg1);
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 8%;
}

/* .menu__link {
} */

.link--home {
  font-weight: 600;
}

#user-toggle,
.user__label {
  cursor: pointer;
  color: var(--fg1);
  display: none;
}

.btn {
  /* text-align: center; */
  font-weight: 600;
  color: var(--fg1);
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-btn);
}

.header__user {
  color: var(--fg1);
  display: flex;
  width: 25%;
  min-width: 200px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* Main main */

.main {
  position: relative;
  /* height: 100vh; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--fg1);
}

/* All sections container */
.container__hero {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 90%;
}

/* Section Hero */
.hero {
  margin-top: calc(45px + 1vw);
  width: 100%;
  background-color: var(--bg2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--hero {
  height: calc(250px + 15vw);
  max-height: 410px;
}

.hero__text {
  width: 50%;
}

.hero__text h1 {
  color: var(--fg2);
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
}

.hero__text h2 {
  font-size: 1.7rem;
  color: var(--fg2);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  /* text-align: center; */
}

.hero__img {
  align-self: flex-end;
  background: url(../assets/img/listen_man.png) no-repeat center/cover;
  height: 85%;
  width: 50%;
  max-width: 510px;
  /* width: 510px; */
}

.hero__facts {
  width: 460px;
  display: flex;
  gap: 30px;
  /* justify-content: center; */
}

.facts__info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  gap: 5px;
  align-items: center;
}

.facts__count {
  font-size: 3rem;
}

.shorts__link {
  background-color: #fa243c;
  height: 15vh;
  width: 300px;
}

/* Abums Section */

.albums {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #759076ff;
}

.albums__title {
  font-family: 'Montserrat',sans-serif;
  padding: 50px 0;
  font-size: 2.5rem;
  color: var(--bg);
  text-align: center;
}

.container--albums {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-evenly;
  align-content: center;
  padding: 25px 0;
  flex-wrap: wrap;
  width: 90%;
}

/* Cards albums */
.release--img1 {
  background: url(../assets/img/tapestry_of_life.jpg) no-repeat center/cover;
}

.release--img2 {
  background: url(../assets/img/spoon.jpg) no-repeat center/cover;
}

.release--img3 {
  background: url(../assets/img/all_stars_aligned.jpg) no-repeat center/cover;
}

.release--img4 {
  background: url(../assets/img/endless_era.jpg) no-repeat center/cover;
}

.release--img5 {
  background: url(../assets/img/love_hearted.jpg) no-repeat center/cover;
}

.release--img6 {
  background: url(../assets/img/endless_tapes.jpg) no-repeat center/cover;
}

.release--img7 {
  background: url(../assets/img/sweet_evil_sun.jpg) no-repeat center/cover;
}

.release--img8 {
  background: url(../assets/img/punisher.jpg) no-repeat center/cover;
}

.release--img9 {
  background: url(../assets/img/dream_better.jpg) no-repeat center/cover;
}

.release--img10 {
  background: url(../assets/img/atalaya.jpg) no-repeat center/cover;
}

.release--img11 {
  background: url(../assets/img/alfa_zulu.jpg) no-repeat center/cover;
}

.release--img12 {
  background: url(../assets/img/capricorn_sun.jpg) no-repeat center/cover;
}

.albums__release {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 24px 35px -15px #03040b69;
  overflow: hidden;
}

.format {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 40px;
  background-color: #1d1d1f9c;
  border-radius: 8px 0 0 8px;
  /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
}

.format .format-img {
  width: 80%;
}

.img-select {
  text-align: center;
  width: 100%;
  padding: 3px;
}

.img-select:hover {
  background-color: #D90429;
}

.release__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  height: 22%;
  width: 100%;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: #2b2d42ab;
}

.release__data {
  height: 100%;
  color: var(--fg1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* max-width: 140px; */
}

.release__data .album-name {
  font-family: 'Montserrat';
  font-weight: 500;
}
.release__data .artist {
  font-size: 0.7rem;
  font-family: 'Montserrat';
  font-weight: 300;
}
.release__data .tracks {
  font-size: 0.5rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

.release__price {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.release__price .price {
  font-size: 1rem;
  color: var(--fg1);
  font-family: 'Montserrat';
  font-weight: 600;

}

.btn--buy {
  font-size: 0.7rem;
}

.btn:hover {
  transform: scale(1.1);
}

/* Section Features */

.features {
  color: var(--fg1);
  width: 100%;
  padding: calc(25px + 4vw) 0;
  display: flex;
  gap: calc(20px + 4vw);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 21, 36);
}

.features h2 {
  font-weight: 500;
  text-align: center;
  font-size: 1.7rem;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}

.features h2 span {
  font-weight: 700;
  color: #d65d0eff;
}

.container__features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  width: 90%;
}

.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 280px;
}

.feat__logo {
  height: calc(25px + 1.5vw);
}

.feat__description {
  text-align: center;
  font-size: 1.15rem;
}


/* Section Contact */
.contact {
  width: 100%;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  /* height: 250px; */
}


.container__contact {
  width: 80%;
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.contact__form {
  width: 60%;
}

.form__msg {
  margin: 0 auto;
  width: 90%;
  padding: 25px;
  color: var(--fg1);
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}

.input__box {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 30px;
  width: 90%;
  background-color: #9ca299;
}
.contact__data,
.contact__data .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  /* color: var(--fg1); */
}

.contact__data .data {
  min-width: 180px;
}

.data .fas {
  color: var(--bg2);
  font-size: 1.5rem;
  padding: 15px;
}

.data__text {
  color: var(--fg1);
  font-weight: 300;
}

/* Footer */

.footer {
  width: 100%;
  height: 250px;
  background-color: var(--bg);
  display: flex;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.footer__company {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.company__logo {
  font-family: 'Montserrat';
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: var(--fg1);
}

.company__logo img {
  height: 30px;
}

.footer__company p {
  font-weight: 300;
  padding: 10px;
  color: var(--fg1);
}

.p__text {
  padding: 0 5px;
  color: var(--bg-btn);
}

.footer__network {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  color: var(--fg1);
  text-align: center;
}

.social-icons i {
  font-size: 2rem;
  padding: 10px;
}

.social-icons .fab {
  cursor: pointer;
}

.back__btn {
  text-align: center;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #d9042761;
  z-index: 2;
  backdrop-filter: blur(3px);
}

.btn--up {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
}
